*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
*.class
/bakApk
/*/build/
/freeline
/freeline_project_description.json
/freeline.zip.tmp
freeline.py
/daogenerator/build/
/node_modules
/gradle
/*/bakApk
/*/maindexlist.txt
